
.card-title{
  font-family:Montserrat, Helvetica, Arial, sans-serif;
  color:rgb(51, 51, 51);
  text-decoration-line:none;
  text-decoration-style:initial;
  text-decoration-color:initial;
}

.btn-hover{
  transition-duration:150ms;
  transition-timing-function:linear;
  transition-delay:0s;
  transition-property:all;
}

.margin-top{
  margin-top:50px;
}


.btn{
  box-sizing:border-box;
  border-top-width:2px;
  border-right-width:2px;
  border-bottom-width:2px;
  border-left-width:2px;
  font-size:12px;
  font-weight:600;
  padding-top:0.5rem;
  padding-right:18px;
  padding-bottom:0.5rem;
  padding-left:18px;
  line-height:1.75;
  cursor:pointer;
  text-transform:uppercase;
  background-color:rgb(0, 0, 255);
  border-top-color:rgb(102, 97, 91);
  border-right-color:rgb(102, 97, 91);
  border-bottom-color:rgb(102, 97, 91);
  border-left-color:rgb(102, 97, 91);
  color:rgb(255, 255, 255);
  opacity:1;
  transition-duration:150ms;
  transition-timing-function:linear;
  transition-delay:0s;
  transition-property:all;
}
.btn.btn-border{
  background-color:transparent;
}
.btn.btn-link{
  background-color:transparent;
  color:rgb(102, 97, 91);
}
.btn:hover{
  background-color:rgb(25, 25, 112);
  color:rgb(255, 255, 255);
  border-top-color:rgb(64, 61, 57);
  border-right-color:rgb(64, 61, 57);
  border-bottom-color:rgb(64, 61, 57);
  border-left-color:rgb(64, 61, 57);
  box-shadow:none;
  outline-color:initial !important;
  outline-style:initial !important;
  outline-width:0px !important;
}
.btn:focus{
  background-color:rgb(64, 61, 57);
  color:rgb(255, 255, 255);
  border-top-color:rgb(64, 61, 57);
  border-right-color:rgb(64, 61, 57);
  border-bottom-color:rgb(64, 61, 57);
  border-left-color:rgb(64, 61, 57);
  box-shadow:none;
  outline-color:initial !important;
  outline-style:initial !important;
  outline-width:0px !important;
}
.btn:active{
  background-color:rgb(64, 61, 57);
  color:rgb(255, 255, 255);
  border-top-color:rgb(64, 61, 57);
  border-right-color:rgb(64, 61, 57);
  border-bottom-color:rgb(64, 61, 57);
  border-left-color:rgb(64, 61, 57);
  box-shadow:none;
  outline-color:initial !important;
  outline-style:initial !important;
  outline-width:0px !important;
}


.card{
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 6px 10px -4px;
  background-color:rgb(255, 255, 255);
  color:rgb(51, 51, 51);
  /* margin-bottom:20px; */
  position:relative;
  z-index:1;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
  border-top-color:black;
  border-right-color:black;
  border-bottom-color:black;
  border-left-color:initial;
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
  transition-duration:300ms, 200ms;
  transition-timing-function:cubic-bezier(0.34, 2, 0.6, 1), ease;
  transition-delay:0s, 0s;
  transition-property:transform, box-shadow;
}
.card:not(.card-plain):hover{
  box-shadow:rgba(0, 0, 0, 0.3) 0px 12px 19px -7px;
  transform:translateY(-10px);
}


.card-register{
  background-color:white;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  color:rgb(0, 0, 0);
  max-width:350px;
  /* margin-top:50px;
  margin-right:0px;
  margin-bottom:70px; */
  /* margin-left:450px; */
  min-height:30px;
  padding-top:30px;
  padding-right:30px;
  padding-bottom:30px;
  padding-left:30px;
  /* z-index:1; */
}
.card-register .social-line .btn{
  margin-top:0px;
}
.section-image .card-register{
  margin-top:0px;
}
.card-register label{
  margin-top:15px;
}
.card-register .title{
  color:rgb(179, 60, 18);
  text-align:center;
}
.card-register .btn{
  margin-top:30px;
}
.card-register .forgot{
  text-align:center;
}

